body {
  background-color: #d0f0c0;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0%;
}
div {
  border: 1px solid black;
}
/*=============Header==================*/
#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vw;
  width: 100%;
  font-size: 1.4vw;
  background-color: #3cd070;
  color: white;
  margin-top: 0.5%;
}
#logo {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8vw;
}
#head_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.head_info {
  width: 20%;
  height: 100%;
  font-size: 1.4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#head_logs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#button1 {
  width: 35%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#button2 {
  width: 55%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#button1 button {
  width: 100%;
  height: 100%;
  font-size: 1.4vw;
  border: none;
  border-radius: 0.4vw;
}
#button2 button {
  width: 100%;
  height: 100%;
  font-size: 1.4vw;
  border: none;
  background-color: rgb(118, 255, 122);
  border-radius: 0.4vw;
}

/*==========section 1============*/
#section1 {
  height: 30vw;
  width: 100%;
}
#section1 {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#section1 h2 {
  font-size: 1.7vw;
  font-weight: 800;
  text-decoration: underline;
}
#sect1_cont {
  height: 93%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sect1_cont {
  width: 30%;
  height: 100%;
  border-radius: 5%;
}

/*==========section 2============*/
#section2 {
  width: 100%;
  height: 30vw;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sect2_head {
  width: 60%;
  height: 10%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: underline;
}
#sect2_cont {
  width: 100%;
  height: 90%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: underline;
}
.sect2_cont {
  width: 22%;
  height: 100%;
  border-radius: 7%;
}

/*==========section 3============*/
#section3 {
  height: 45vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
#sect3_head {
  width: 60%;
  height: 10%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: unset;
}
#sect3_cont {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sect3_cont {
  width: 25%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4%;
  box-shadow: 0.5vw 0.5vw 1vw grey;
}
#sc3_img {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sc3_img {
  width: 12vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -5.7vw;
  border-radius: 50%;
}
.sc3_name {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8vw;
  font-weight: 800;
}
.sc3_par {
  height: 60%;
  line-height: 200%;
  font-size: 1.4vw;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

/*==========section 4============*/
#section4 {
  height: 30vw;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#sect4_head {
  width: 30%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -2.5%;
  margin-left: 5%;
  background-color: #d0f0c0;
  border-radius: 1vw;
  box-shadow: 0.3vw 0.3vw 0.8vw grey;
}
