div {
  border: 1px solid black;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
/*===============Header=======================*/
#head {
  height: 5vw;
  width: 100%;
  margin-top: 1%;
}
/*================Section 1====================*/
#section1 {
  height: 34vw;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#sect1_1 {
  height: 100%;
  width: 45%;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 200%;
}
#sect1_2 {
  height: 100%;
  width: 45%;
}
form {
  padding-left: 10%;
}
input {
  width: 20%;
  height: 10%;
  font-size: 1.4vw;
  font-weight: 200;
  border: 0.4vw double seagreen;
  border-radius: 1vw;
  line-height: 200%;
}
input:focus {
  background-color: lightblue;
}
.submit {
  margin-top: 10%;
}
#head2_1 {
  font-size: 1.5vw;
  color: seagreen;
}
#para2_1 {
  font-size: 1.3vw;
  color: aqua;
}
button {
  margin-top: 10%;
}
